{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	{%include 'header.html'%}
	<div class="text_about"><caption>About Us.</caption></div>
	<div class="p1"><p>Have you at anytime witnessed a relative of yours or a close friend searching frantically for a blood donor, when blood banks say out of stock, the donors in mind are out of reach and the time keeps ticking? Have you witnessed loss of life for the only reason that a donor was not available at the most needed hour? Is it something that we as a society can do nothing to prevent? This thought laid our foundation.</p></div>	
	<div class="p2"><p>"Help A Friend" is an organization that brings voluntary blood donors and those in need of blood on to a common platform.  Through this website, we seek donors who are willing to donate blood, as well as provide the timeliest support to those in frantic need of it</p></div>
	<div class="p3"><p>Our mission is to fulfill every blood request in the country with a promising web portal and motivated individuals who are willing to donate blood.</p></div>
	<div class="p4"><p>Our vision is to be “The hope of every Indian in search of a voluntary blood donor”</p></div>
	<div class="p5"><p>Our motto - “Donate blood to save the most precious human life”</p></div>
	{%include 'footer.html'%}
</body>
</html>