{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	{%include "header.html"%}
	<div class="table6_text"><caption>Change Password</caption></div>
	<div class="table11">
	<table>
	<form action="../change_password/" method="POST">
			{% csrf_token %}
			{% if msg %}
			<strong>{{ msg }}</strong>
			{% endif %}
		<tr>
			<td class="table6_td">New Password : </td>
			<td><input type="password" name="new_password" class="table7_input"></td>
		</tr>
		<tr>
			<td class="table6_td">Re Type Password :</td>
			<td><input type="password" name="rnew_password" class="table7_input"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Change" class="table6_button"></td>
			<td><input type="reset" value="Reset" class="table6_button"></td>
		</tr>
	</table>
	</div>
	</form>
	{%include "footer.html"%}
</body>
</html>