{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	<div class="footer">
		<div class="menu">
			<div class="title">Menu</div>
			<div class="list">
 				<a href="../index/">Home</a><br>
				<a href="../search/">Search</a><br>
				<a href="../post_request/">Request</a><br>
				<a href="../aboutus">About Us</a>
			</div>
			</ul>
		</div>
		<div class="text1">
			<div class="title1">Our Team</div>
			<div class="list1">
				Darsh Shah <br>
				Divya Shah <br>
				Nihar Sodha 
			</div>
		</div>
		<div class="text2">
			<div class="title2">Contact No.</div>
			<div class="list2">
				+91 738 336 7447 <br>
				+91 971 417 4778 <br>
				+91 720 201 6399
			</div>
		</div>
		<div class="text3">
			<div class="title3">E-mail</div>
			<div class="list3">
				helpafriend.bloodbank@gmail.com
			</div>
		</div>
	</div>
</body>
</html>