{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	<center>
		{%include "header.html"%}
		<div class="table4_text"><caption>Forgot Password</caption></div>
		<div class="table4">
			{% if msg %}
			<strong>{{ msg }}</strong>
			{% endif %}
		<form action="../generate_otp/" method="POST">
		{% csrf_token %}
			<div class="table4_td">Email : <input type="Email" name="email" class="table4_input"><br><br></div>
			<div class="table4_td"> Login as :<input type="radio" name="type" value="donor">Donor <input type="radio" name="type" value="bloodbank">BloodBank<br></div>
			<input type="submit" name="submit" value="Submit" class="table4_button">
		</form>
	    </div>
		{%include "footer.html"%}
	</center>
</body>
</html>