{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Enter Password</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	<center>
		{%include "header.html" %}
		{% if msg %}
		{{ msg }}
		{% endif %}
		<div class="table6_text"><caption>Enter New Password</caption></div>
		<div class="table6">
		<form action="../update_password/" method="POST">
			{% csrf_token %}
			<div class="table6_td">New Password : <input type="password" name="new_password" class="table6_input"><br></div>
			<div class="table6_td">Reenter Password : <input type="password" name="re_password" class="table6_input"><br></div>
			<input type="submit" value="Save Password" class="table6_button">
		</form>
		</div>
		{%include "footer.html" %}
	</center>
</body>
</html>